body {
	padding:0;
	color: #333;
	background-color: #fcf8fc;
}
#title{
	position: absolute;
	width: 99%;
	top: 0px;
	font-size: 200%;
	font-weight: bold;
}
#main-left{
	position: absolute;
	left: 0%;
	height: 800px;
	top:60px;
	width:49%;
	padding-left: 10px;
}
#main-right{
	position: absolute;
	left: 50%;
	height: 800px;
	top:60px;
	width:49%;
}
#map {
	position:absolute;
	width:98%;
	height:100%;
}
#neighborhoods {
	position:static;
	top:20px;
	height: 140px;
	left:0%;
	width:100%;
}
#toggle_cat_bar,
#toggle_time_bar {
    text-decoration: underline;
    cursor: pointer;
}
#neighborhoods ul {
	text-decoration: underline;
	cursor: pointer;
	-webkit-column-count: 5;
	-moz-column-count: 5;
	list-style: none;
}
svg#bars {
	width: 100%;
	height: 94%;
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 12px;
}
label {
    font-size: 125%;
}
#main-right div {
    margin: .2rem auto;
}
