body {
	padding: 0;
	color: #333;
	background-color: #fcf8fc;
}
#title {
	width: 80%;
	margin: .7rem auto;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
}
#title label {
	font-size: 130%;
}
#main-left, #main-right {
	position: absolute;
	height: 95%;
	top: 5%;
}
#main-left {
	left: 8px;
	width: 99%; /*55% */
}
#main-right {
	left: 56%;
	width: 44%;
	display: none;
}
#map {
	width: 100%;
	height: 95%; /* 80% */
	background-color: #fcf8fc;
}
.meanningful {
    text-decoration: underline;
    font-style: italic;
}
#legend div {
    width: 1em;
    height: 1em;
    display: inline-block;
    margin-right: .4rem;
    vertical-align: middle;
}
#legend {
    list-style: none;
    -webkit-column-count: 4;
    -moz-column-count: 4;
}

svg#bars {
	width: 100%;
	height: 94%;
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 12px;
}
#toggle_cat_bar,
#toggle_time_bar {
    text-decoration: underline;
    cursor: pointer;
}
